<!DOCTYPE html>
<html>
<body>
    <h1>Test de liens</h1>
    
    <p>Lien 1 (Twig): <a href=\"{{ path('app_terrain_new') }}\">Nouveau</a></p>
    <p>Lien 2 (Direct): <a href=\"/terrain/new\">Nouveau direct</a></p>
    <p>Lien 3 (Problème): <a href=\"/terrain/new/\">Problème avec /</a></p>
</body>
</html>
